<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container-options">
        <h1 id="main-header">The Student Management System</h1>
        <div class="button-container">
            <a href="{{ url_for('add_students') }}"><button class="add-button">Add Student</button></a>
            <a href="{{ url_for('view_classes') }}">
                <button class="view-button">View Students</button></a>
        </div>
    </div>
</body>
</html>
